# OpenSearch settings
OPENSEARCH_URL=http://opensearch:9200
OPENSEARCH_ADMIN_PW=MyS3cur3P@ss!
OPENSEARCH_USER=admin
OPENSEARCH_INDEX=ingested_code_index
OPENSEARCH_TEXT_FIELD=text
OPENSEARCH_VECTOR_FIELD=vector_field
OPENSEARCH_BULK_SIZE=500

# AWS Bedrock settings
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

AWS_REGION=us-east-1
BEDROCK_MODEL_ID=amazon.titan-embed-text-v2:0

# GitHub settings
GITHUB_WEBHOOK_SECRET=
GITHUB_TOKEN=

# Code chunking settings
CHUNKER_MAX_CHARS=1500
CHUNKER_COALESCE=200
GENERATE_AI_DESCRIPTIONS=True 

OPENAI_API_KEY="sk-svcacct-"
CHUNK_DESC_PROVIDER="openai"